.main {
  font-size: 2rem;

  &-1 {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;

    &-current-month {
      padding: 2rem;
      grid-column: 1/-1;
    }
    &-form-amount {
      padding: 2rem;
      grid-column: 1/-1;
    }
    &-net-income {
      padding: 2rem;
      grid-column: 1/-1;
    }
    &-add {
      border-radius: 0.5rem;
      padding: 0.8rem;
      width: 5rem;
      background-color: #1a1a1a;
      color: #fff;
    }
    &-add-expense {
      border-radius: 0.5rem;
      padding: 1.5rem;
      background-color: #1a1a1a;
      color: #fff;
    }
    &-see-graph {
      border-radius: 0.5rem;
      padding: 1.5rem;
      background-color: #1a1a1a;
      color: #fff;
    }
  }
  &-2-heading {
    background-color: #1a1a1a;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
  }
  &-2-contentRow {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
  }
  &-2-contentRow:nth-child(odd) {
    background-color: #d9d9d9;
  }
  &-2-contentRow:nth-child(even) {
    background-color: #a6a6a6;
  }
  &-2-category,
  &-2-date,
  &-2-amount {
    width: 6rem;
  }
  &-2-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &-2-options-edit {
    width: 2rem;
  }
  &-2-options-delete {
    width: 2rem;
  }
}

#amount {
  height: 3rem;
  border: 1px solid black;
}

.hide {
  display: none;
}
